.btn_addUser {
    background-color: black!important;
    width: unset !important;
}

.search-manager {
    width: unset!important;
    .ant-input-wrapper {
        border:1px solid #d9d9d9;
        padding: 0.2rem;
        border-radius: 2rem;
        overflow: hidden;
        .ant-input:focus{
            border-color: unset;
            background-color: transparent!important;
            box-shadow:unset
        }
        input {
            width: 100%!important;
            border:none
            
        }

        .ant-input-group-addon {
            background-color: #aa773d;
            transition: all 0.3s ease;
            padding-left: 0.3rem;
            padding-right: 0.3rem;
            border-radius: 2rem!important;
            :hover{
                background-color: #d4a774;
            }
            button {
              
                font-size: 14px;
                border-radius: 2rem!important;
                line-height: 0;
                height: 27px;
                background-color: #aa773d;
               
            }
        }
    }
}   

.table-manger{
.ant-spin-nested-loading{
    .ant-spin-container{
        .ant-pagination{
            margin: 36px 0 0 0!important;
        }
    }
}
}

.ant-table-thead{
    tr{
        .ant-table-cell{
            text-align: center;
        }
    }
}
.ant-table-cell{
    text-align: center;
}