.rdrCalendarWrapper {
    width: 100%;
}

.rdrMonth {
    width: 100%;
}

.rdrStartEdge {
    background: #1c305e;
}

.rdrEndEdge {
    background: #1c305e;
}

.rdrInRange {
    background: #1c305ea8;
}

.rdrDateDisplayItemActive {
    border-color: #1c305e;
}

.calendarWrap {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}